<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت‌نام | MyChat</title>
</head>

<body>

    <h1>💬 MyChat</h1>
    <h2>ساخت حساب</h2>

    <form method="POST">

        <label>آیدی:</label>
        <br>
        <input
            type="text"
            name="username"
            placeholder="مثلاً danial123"
            required
        >

        <br><br>

        <label>رمز عبور:</label>
        <br>
        <input
            type="password"
            name="password"
            placeholder="رمز عبور"
            required
        >

        <br><br>

        <button type="submit">ثبت‌نام</button>

    </form>

    <p>
        قبلاً حساب ساخته‌ای؟
        <a href="/login">ورود</a>
    </p>

</body>
</html>
